<div class="col-md-8" style="opacity: 0.85">
  <div class="well">
    <h2>Réservation du {{ reservation.date|date('d/m/y') }}</h2><hr>
    <h3>Vos coordonnées</h3>
    {{ form(formi) }}
  </div>
</div>

<div class="col-md-4" style="opacity: 0.85">
  <div class="well">
    <h3>Montant de votre réservation</h3><hr>
    <p>Le montant de votre réservation est de {{ prix }} €</p>.
    {{ dump(tableauReservation) }}
  </div>
</div>


