<h3>Vos coordonnées</h3>
<div class="well">
  {{ form_start(formi, {'attr': {'class': 'form-horizontal'}}) }}
	{{ form_row(formi) }}





{{ form_row(formi) }}
  <a href="#" id="add_coordonnees" class="btn btn-default">Ajouter un participant</a>

  {# Fermeture de la balise <form> du formulaire HTML #}

  {{ form_end(formi) }}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

  $(document).ready(function() {

    var $container = $('div#morad_billeteriebundle_reservation_coordonnees');
    var index = $container.find(':input').length;
    $('#add_coordonnees').click(function(e) {

      addCoordonnees($container);


      e.preventDefault();

      return false;

    });


    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).

    if (index == 0) {

      addCoordonnees($container);

    } else {

      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }


    function addCoordonnees($container) {
      var template = $container.attr('data-prototype')

        .replace(/__name__label__/g, 'Paraticipant n°' + (index+1))

        .replace(/__name__/g,        index)

      ;

      var $prototype = $(template);
      addDeleteLink($prototype);
      $container.append($prototype);
      index++;

    }

    function addDeleteLink($prototype) {
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
      $prototype.append($deleteLink);
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); 
        return false;
      });

    }

  });

</script>
