<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Billeterie du Louvre{% endblock %}</title>

    {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/js/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/style.css') }}">
    {% endblock %}

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="text-align: center;">
            <div class="row">
              <div class="col-md-6"><a class="navbar-brand" href="#">Billeterie du Louvre</a></div>
              <div class="col-md-6"><img src="http://localhost/p4/web/logo-louvre.png" alt="good vybes" /></div>
            </div>
          </div>
        </div>

      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
          {{ include("MoradBilleterieBundle:Home:form/contentFormCoordonnees.html.twig") }}
    </div>

  </body>
  <footer class="footer">
    <div class="container">
      <p class="text-muted" style="text-align: center;">E-Billeterie - Musée du Louvre</p>
    </div>
  </footer>
  {% block javascripts %}
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="{{ asset('bundles/js/jquery-ui.js') }}"></script>
      <script type="text/javascript">
        $(':checkbox').change(function(){
          var id='msg_'+$(this).attr('id');
            if($(this).is(':checked')){
              $(this).after('<p id="'+id+'"><i>Merci de vous munir d\'un justificatif le jour de votre visite</i></p>')
            }else if(!($(this).is(':checked'))){
              $('#'+id).remove();
            }
        });
      </script>
  {% endblock %}
</html>